<div class="container">
    <div class = "card text-center">
        <div class="card-header">
            <b> Login</b>
        </div>
        <div class="card-body p-4">
            <label style="float: left;">email</label>
            <input class="form-control m-2" type="email" placeholder="Ingrese su email" [(ngModel)] = "usuario.email">
            
            <label style="float: left;">Password</label>
            <input class="form-control m-2" type="password" placeholder="Ingrese su Password" [(ngModel)] = "usuario.password">

            <button class="btn btn-primary btn-block m-2" (click)="login()">Ingresar</button>
            
            <button class="btn btn-info btn-block m-2" (click)="IngresarGoogle()">Ingresar con Google</button>
            
            <div> Aun no tienes cuenta? </div>
        
            <button class="btn btn-primary btn-block m-2" (click)="Ingresar()">Registrar</button>
        </div>
    </div>
</div>